/* fonts */
.h3 {
    font-family: 'Bebas Neue', cursive;
}
/* warning */
.warning {
    text-align: center;
    border: solid 5px black;
}

#warning-title {
    padding-top: 10px;
}
/* navigation */
#navigation {
    background-color: #45e401;
}

.logo {
    padding-left: 50px;
    font-size: 28px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: black;
}
.foundation-5-top-bar {
    background: #333;
    color: #fefefe;
  }
  
  .foundation-5-top-bar .menu {
    background: #333;
  }
  
  .foundation-5-top-bar .menu a {
    color: #fefefe;
  }
  
  .foundation-5-top-bar .is-dropdown-submenu {
    border: 0;
  }
  
  .foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
    border-color: transparent transparent transparent #fefefe;
  }
  
  .foundation-5-top-bar .js-drilldown-back > a::before {
    border-color: transparent #fefefe transparent transparent;
  }
  
  .foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fefefe;
  }
  
  .foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: #fefefe transparent transparent;
  }

  .foundation-5-top-bar .menu {
    padding-top: 4px;
    background-color: #45e401;
  }

  .foundation-5-top-bar .menu a {
    color: black;
  }
/* content */
/* map */
#map-canvas {
    height: 570px;
    width: 500px;
}
/* bio */
.bio {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: -190px;
    padding: 20px;
    text-align: center;
}

.bio-icon {
    padding-right: 10px;
    color: green;
    font-size: 24px;
}