/* fonts */
.h3 {
  font-family: 'Bebas Neue', cursive;
}

.heading {
  font-family: 'Contrail One', cursive;
}

.header {
  padding: 10px 0 10px 55px;
}
/* sections */
.section1 {
  background-color: #F2F3F4;
}
/* warning */
.warning {
    text-align: center;
    border: solid 5px black;
}

#warning-title {
    padding-top: 10px;
}
/* navigation */
#navigation {
    background-color: #45e401;
}

.logo {
    padding-left: 50px;
    font-size: 28px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: black;
}
.foundation-5-top-bar {
    background: #333;
    color: #fefefe;
  }
  
  .foundation-5-top-bar .menu {
    background: #333;
  }
  
  .foundation-5-top-bar .menu a {
    color: #fefefe;
  }
  
  .foundation-5-top-bar .is-dropdown-submenu {
    border: 0;
  }
  
  .foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
    border-color: transparent transparent transparent #fefefe;
  }
  
  .foundation-5-top-bar .js-drilldown-back > a::before {
    border-color: transparent #fefefe transparent transparent;
  }
  
  .foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fefefe;
  }
  
  .foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: #fefefe transparent transparent;
  }

  .foundation-5-top-bar .menu {
    padding-top: 4px;
    background-color: #45e401;
  }

  .foundation-5-top-bar .menu a {
    color: black;
  }


  .items, .items2{
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 17px;
  }
  .items2{
    padding-top:50px;
  }
  .items a, .items2 a{
    display:inline-block;
    text-decoration:none;
    color:black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:400;
    margin:0 20px;
    height: 30px;
    overflow: hidden;
  }
  .items a span{
    display: inline-block;
    position:relative;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;
    
  }
  .items a span:after{
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left:0;
    transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  .items a:hover span,
  .items a:focus span {
      transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
  }
  
  /* x3 */
  .items2 a span{
    display: inline-block;
    position:relative;
    transition: transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
  }
  .items2 a span:before{
    content: attr(data-hover);
    position: absolute;
    top: -60px;
    left:0;
    transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  .items2 a span:after{
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left:0;
    transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  .items2 a:hover span,
  .items2 a:focus span {
      transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
  }
/* content */
/* juicebar */
.juice-bar {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
}
/* map */
#map-canvas {
    height: 570px;
    width: 500px;
}

.bio-heading {
  font-family: 'Sedgwick Ave Display', cursive;
}

.bio {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: -190px;
    padding: 20px;
    text-align: center;
}

.facebook, .yelp, .phone {
    padding-right: 10px;
    font-size: 24px;
}

.facebook {
    color: #4266B2;
}

.yelp {
    color: red;
}

.phone {
    color: black;
}
/* testimonials */
.reviews {
  margin-left: 8%;
}

.review {
  margin: 5% 0 5% 0;
  text-align: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner {
  color: #f8ce0b;
}

.write-review {
  margin-bottom: 5%;
  text-align: center;
}

.write-link:hover {
  text-decoration: none;
}

.write-btn {
  border: solid 1px grey;
}

.write-btn:hover {
  color: grey;
}
/* mods-bar */
.mods-bar {
    margin-top: 30px;
    margin-left: 12%;
    margin-bottom: 30px;
}

.feature {
  text-align: center;
  margin-right: 95px;
  border-radius: 100%;
  background-color: #F3F3F3;
}

.feature img {
  height: 250px;
}
/* arrivals */
.arrivals-header {
  background-color: #B8FF9A;
}

.products .carousel-indicators {
  display: none;
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.products .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 100%;
    width: 0.5rem;
    height: 0.05rem;
}

.products .carousel-indicators .active {
background: #707070;
}

.product {
  line-height: .5;
  font-size: 12px;
}

.product img {
  height: 200px;
}
/* arrivals */
.arrivals-set {
  margin-left: 8%;
  font-size: 14px;
}

.kit {
  height: 325px;
}

.kit1 {
  height: 225px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* products */
.set {
  margin-left: 8%;
  font-size: 12px;
}